/* brand-section css start */
.brand-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.brand-item {
    max-width: 150px;
}

/* brand-section css end */

@media only screen and (max-width: 575px) {
    .brand-items {
        gap: 20px;
    }

    .brand-item {
        max-width: 120px;
    }
}