/* faq-section css start */
.section.faq-section {
    padding-top: 0;
}

.faq-accordion {
    max-width: 800px;
    margin: 0 auto;
}

.faq-accordion-item {
    padding: 10px 20px;
    background: var(--white);
    border-radius: 10px;
    margin: 0 0 10px 0;
}

.faq-accordion-item:last-child {
    margin: 0;
}

.faq-accordion-item .item-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    padding: 15px 0;
    user-select: none;
}

.faq-accordion-item .item-title-wrapper .item-title {
    color: var(--black);
    text-transform: capitalize;
    font-size: 18px;
    transition: ease .3s;
    font-weight: 700;
    font-family: var(--heading-font);
}

.faq-accordion-item .item-title-wrapper:hover .item-title {
    color: var(--brand-color);
}

.faq-accordion-item.active .item-title-wrapper .item-title {
    color: var(--brand-color);
}

.faq-accordion-item-content {
    padding-bottom: 15px;
}

.faq-accordion-item-content .content {
    color: var(--paragraph-text-color);
    font-size: 15px;
    font-weight: 400;
    font-family: var(--paragraph-font);
}

.faq-accordion-item .item-title-wrapper .icon {
    display: flex;
}

.faq-accordion-item .item-title-wrapper .icon svg {
    width: 12px;
    height: 12px;
    transition: all ease .3s;
}

.faq-accordion-item.active .item-title-wrapper .icon svg {
    transform: rotate(-180deg);
    fill: var(--brand-color);
}

.faq-accordion-item .item-title-wrapper:hover .icon svg {
    fill: var(--brand-color);
}

/* faq-section css end */

@media only screen and (max-width: 767px) {
    /* faq-section css start */
    .faq-accordion-item {
        padding: 10px 10px;
    }

    .faq-accordion-item .item-title-wrapper {
        padding: 5px 0;
    }

    .faq-accordion-item .item-title-wrapper .item-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
    }

    .faq-accordion-item-content {
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .faq-accordion-item-content .content {
        font-size: 14px;
        line-height: 20px;
    }
    /* faq-section css end */
}