/* img-text section css start */
.section.img-text-section{
    padding-top: 0;
}

.img-text-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    overflow-x: auto;
    padding: 15px 15px 15px 15px;
    scrollbar-width: none;
    margin: 0 -15px;
}

.img-text-item {
    background-color: var(--white);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px 3px rgb(0 0 0 / 10%);
    min-width: 310px;
}

.img-text-item-img {
    border-radius: 10px;
    overflow: hidden;
}

.img-text-item-content{
    margin: 20px 0 0 0;
}

.img-text-item-title{
    color: var(--heading-text-color);
    font-size: 24px;
    font-weight: 500;
    font-family: var(--heading-font);
    line-height: 30px;
    text-transform: capitalize;
}

.img-text-item-text {
    color: var(--paragraph-text-color);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--paragraph-font);
    line-height: 24px;
    margin: 10px 0 0 0;
    text-align: justify;
}
/* img-text section css end */

@media only screen and (max-width:575px){
    /* img-text section css start */
    .img-text-items {
        gap: 16px;
    }

    .img-text-item {
        border-radius: 10px;
        padding: 10px;
        min-width: 250px;
    }

    .img-text-item-img {
        border-radius: 7px;
    }

    .img-text-item-content {
        margin: 10px 0 0 0;
    }

    .img-text-item-title {
        font-size: 20px;
        line-height: 26px;
    }

    .img-text-item-text {
        font-size: 14px;
        line-height: 20px;
        margin: 8px 0 0 0;
    }
    /* img-text section css end */
}