/* product-slider section css start */
.section.product-slider-section {
    padding-top: 0;
    padding-bottom: 150px;
}

.product-slider-section .section-heading-wrapper {
    margin-bottom: 10px;
}

.swiper.product-slider {
    padding: 65px 20px 20px 20px;
    margin: 0 -20px -20px -20px;
}

.swiper.product-slider .swiper-button-next svg,
.swiper.product-slider .swiper-button-prev svg {
    width: 35px;
    height: 35px;
}

.swiper.product-slider .swiper-button-next,
.swiper.product-slider .swiper-button-prev {
    top: 0;
    margin: 0;
    width: 35px;
    height: 35px;
}

.swiper.product-slider .swiper-button-prev {
    right: 60px;
    left: auto;
}

/* product-slider section css end */

@media only screen and (max-width: 575px) {

    /* product-slider section css start */
    .product-slider-section .section-heading-wrapper {
        margin-bottom: 20px;
    }

    .swiper.product-slider {
        padding: 45px 20px 20px 20px;
    }

    .swiper.product-slider .swiper-button-next,
    .swiper.product-slider .swiper-button-prev {
        width: 26px;
        height: 26px;
    }

    .swiper.product-slider .swiper-button-prev {
        right: 50px;
    }

    /* product-slider section css end */
}