/* single-product section css start */
.product-page-content-wrap {
    display: flex;
    gap: 52px;
}

.product-single-slider-area {
    width: 59%;
    position: sticky;
    height: fit-content;
    top: 50px;
}

.product-single-slider-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.swiper.product-single-slider {
    height: 600px;
    border-radius: 15px;
    overflow: hidden;
    width: 80%;
}

.swiper.product-single-slider-thumb {
    height: 600px;
    width: 16%;
}

.product-single-slider-thumb .swiper-slide {
    cursor: pointer;
    opacity: 1;
    position: relative;
    transition: all ease .3s;
    border-radius: 15px;
    overflow: hidden;
}

.product-slider-img {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: var(--white);
}

.product-single-slider-thumb .swiper-slide::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all ease .3s;
}

.product-single-slider-thumb .swiper-slide-thumb-active.swiper-slide::after {
    border-color: var(--brand-color);
}

.product-content-area {
    width: 37.3%;
}

.single-product-title {
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    text-transform: uppercase;
}

.single-product-description-list-text {
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.single-product-description-list-wrapper {
    margin: 15px 0 0 0;
}

.single-product-description-list {
    margin: 10px 0 0 0;
}

.single-product-description-list li {
    position: relative;
    padding: 0 0 0 23px;
}

.single-product-description-list li::after {
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    width: 14px;
    height: 14px;
    background-image: url("../images/single-product-list-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.single-product-description-list li p {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}

.progress-bar-area {
    padding: 20px 0 0 0;
}

.progress-bar-text {
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 5px 0;
}

.progress-bar-area .progress {
    background: linear-gradient(to right, rgb(237, 28, 36) 0%, rgb(237, 28, 36) 60%, rgb(216, 216, 216) 60%, rgb(216, 216, 216) 100%);
    height: 5px;
    width: 100%;
    transition: background 450ms ease-in;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    border-radius: 5px;
}

.progress-bar-area .progress::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
}

.progress-bar-area .progress::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none;
}

.product-varient-title {
    color: var(--heading-text-color);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--heading-font);
    margin: 0 0 15px 0;
}

.product-varient {
    margin: 20px 0 0 0;
    width: 100%;
}

.product-varient-item {
    margin: 0 0 7px 0;
    background-color: var(--white);
}

.product-varient-item:last-child {
    margin: 0;
}

.product-varient-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px 0;
}

.purchase-text-area {
    display: flex;
    align-items: center;
    gap: 9.69px;
}

.purchase-text-area-title {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.purchase-price {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
}

.purchase-text-area-badge {
    padding: 2px 10px;
    border-radius: 5px;
    background-color: var(--brand-color);
    color: var(--white);
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.purchase-type {
    position: relative;
}

.purchase-type input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.purchase-label {
    cursor: pointer;
    border: 1px solid var(--brand-color);
    position: relative;
    padding: 20px 8px;
    border-radius: 5px;
    display: block;
    opacity: 0.5;
    transition: all ease .3s;
}

.purchase-label-badge {
    position: absolute;
    top: -22px;
    right: 20px;
    padding: 5px 10px;
    background-color: var(--brand-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    font-family: var(--paragraph-font);
    color: var(--white);
    border-radius: 3px;
    z-index: 1;
}

.purchase-label-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.purchase-label .check-box {
    position: absolute;
    top: 32px;
    left: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--brand-color);
    transform: translateY(-50%);
}

.purchase-text-area {
    margin: 0 0 0 26px;
}

.product-varient-details {
    padding: 20px 0 0 0;
    width: 100%;
    display: none;
    transition: all ease .3s;
}

.product-varient-select {
    width: 100%;
    border: 1px solid var(--brand-color);
    height: 40px;
    border-radius: 5px;
    position: relative;
    background-color: var(--body-color);
}

.product-varient-select select {
    width: 100%;
    height: 100%;
    color: var(--black);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--paragraph-font);
    padding: 0 10px;
}

.product-varient-select .icon {
    display: flex;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.product-varient-select .icon svg {
    width: 10px;
    height: 10px;
}

.product-varient-details-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 20px 0 0 0;
    flex-wrap: wrap;
}

.product-varient-details-list li {
    padding: 0 0 0 14px;
    position: relative;
}

.product-varient-details-list li::before {
    position: absolute;
    content: "";
    left: 0;
    top: 4px;
    width: 10px;
    height: 10px;
    background-image: url('../images/single-product-list-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-varient-details-list li p {
    color: var(--paragraph-text-color);
    font-size: 11px;
    font-weight: 500;
    font-family: var(--paragraph-font);
}

.purchase-label .check-box::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    right: 0;
    bottom: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--brand-color);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all ease .3s;
    transform: scale(0);
}

.purchase-type input:checked+.purchase-label .check-box::before {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.purchase-type input:checked+.purchase-label {
    opacity: 1;
}

.purchase-type input:checked+.purchase-label .product-varient-details {
    display: block;
}

.purchase-price-area {
    text-align: right;
}


.single-product-price-wrap {
    margin: 20px 0 0 0;
}

.single-product-latest-price {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.single-product-latest-price span {
    text-decoration: line-through;
    margin: 0 0 0 15px;
    opacity: 0.5;
    font-weight: 300;
}

.single-product-btn-wrap {
    display: flex;
    align-items: center;
    gap: 3px;
    margin: 20px 0 0 0;
}

.single-product-btn-wrap .btn {
    width: 100%;
}

.single-product-quantity .product-quantity {
    display: flex;
    align-items: center;
    gap: 3px;
}

.single-product-quantity .product-quantity .quantity-decrease,
.single-product-quantity .product-quantity .quantity-increase,
.single-product-quantity .product-quantity .quantity-total {
    width: 48px;
    height: 44px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    font-family: var(--paragraph-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    background-color: var(--btn-bg);
}

.single-product-quantity .product-quantity .quantity-total {
    color: var(--black);
    width: 80px;
    border: 1px solid var(--black);
    background-color: transparent;
}

.quantity-decrease svg path,
.quantity-increase svg path {
    fill: var(--white);
}

.single-product-payment-img-wrap {
    width: 100%;
}

.single-product-payment-img {
    max-width: 270px;
    margin: 10px auto 0;
}

.product-single-accordion {
    margin: 30px 0 0 0;
}

.product-single-accordion-item:first-child {
    border-top: 1px solid var(--border-color);
}

.product-single-accordion-item {
    padding: 0 10px 0 0;
    border-bottom: 1px solid var(--border-color);
}

.product-single-accordion-item .item-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    padding: 15px 0;
    user-select: none;
}

.product-single-accordion-item .item-title-wrapper .item-title {
    color: var(--black);
    text-transform: capitalize;
    font-size: 14px;
    transition: ease .3s;
    font-weight: 700;
    font-family: var(--heading-font);
}

.product-single-accordion-item .item-title-wrapper:hover .item-title {
    color: var(--brand-color);
}

.product-single-accordion-item.active .item-title-wrapper .item-title {
    color: var(--brand-color);
}

.product-single-accordion-item-content {
    padding-bottom: 15px;
}

.product-single-accordion-item-content .content {
    color: var(--paragraph-text-color);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--paragraph-font);
}

.product-single-accordion-item .item-title-wrapper .icon {
    display: flex;
}

.product-single-accordion-item .item-title-wrapper .icon svg {
    width: 10px;
    height: 10px;
    transition: all ease .3s;
}

.product-single-accordion-item.active .item-title-wrapper .icon svg {
    transform: rotate(-180deg);
    fill: var(--brand-color);
}

.product-single-accordion-item .item-title-wrapper:hover .icon svg {
    fill: var(--brand-color);
}

.product-single-icon-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 30px 0 0 0;
}

.product-single-icon-items .icon-item {
    gap: 8px;
    display: flex;
    align-items: center;
}

.product-single-icon-items .icon-item .icon-item-icon {
    width: 40px;
    height: 40px;
    min-width: 40px;
}

.product-single-icon-items .icon-item .icon-item-text {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

/* single-product section css end */

@media only screen and (max-width: 1100px) {

    /* single-product section css start */
    .product-page-content-wrap {
        gap: 15px;
    }

    .product-single-slider-area {
        width: 58%;
    }

    .product-content-area {
        width: 40.3%;
    }

    /* single-product section css end */

}

@media only screen and (max-width: 992px) {

    /* single-product section css start */
    .product-page-content-wrap {
        gap: 25px;
        flex-wrap: wrap;
    }

    .product-single-slider-area {
        width: 100%;
        position: unset;
    }

    .product-single-slider-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    .swiper.product-single-slider {
        width: 100%;
        height: 500px;
    }

    .swiper.product-single-slider-thumb {
        height: 100px;
        width: 100%;
    }

    .product-slider-img {
        padding: 10px;
    }

    .product-slider-img img{
        object-fit: contain;
    }

    .product-content-area {
        width: 100%;
    }

    /* single-product section css end */

}

@media only screen and (max-width: 767px) {
    /* single-product section css start */
    .product-single-slider-wrapper {
        gap: 16px;
    }

    .swiper.product-single-slider-thumb {
        height: 90px;
    }

    .single-product-title {
        font-size: 22px;
        line-height: 26px;
    }

    .single-product-description-list-wrapper {
        margin: 10px 0 0 0;
    }

    .single-product-description-list-text {
        font-size: 15px;
    }

    .single-product-description-list li p {
        font-size: 14px;
    }

    .product-varient {
        margin: 15px 0 0 0;
    }

    .purchase-label {
        padding: 16px 8px;
    }

    .purchase-label .check-box {
        top: 28px;
    }

    .product-varient-details-list {
        margin: 10px 0 0 0;
    }

    .single-product-price-wrap {
        margin: 15px 0 0 0;
    }

    /* single-product section css end */
}

@media only screen and (max-width: 575px) {
    /* single-product section css start */
    .product-page-content-wrap {
        gap: 20px;
    }

    .swiper.product-single-slider {
        height: 360px;
        border-radius: 10px;
    }

    .product-single-slider-wrapper {
        gap: 12px;
    }

    .swiper.product-single-slider-thumb {
        height: 70px;
    }

    .product-single-slider-thumb .swiper-slide {
        border-radius: 10px;
    }

    .product-single-slider-thumb .swiper-slide::after {
        border-radius: 10px;
    }

    .product-slider-img {
        padding: 10px;
    }

    .product-varient-details-list {
        gap: 5px;
    }

    .single-product-btn-wrap {
        gap: 10px;
        margin: 15px 0 0 0;
        flex-wrap: wrap;
    }

    .single-product-quantity .product-quantity .quantity-total {
        width: 100%;
    }

    .product-single-accordion {
        margin: 20px 0 0 0;
    }

    .product-single-icon-items {
        gap: 10px;
        margin: 20px 0 0 0;
    }

    .product-single-icon-items .icon-item {
        gap: 5px;
    }

    .product-single-icon-items .icon-item .icon-item-icon {
        width: 35px;
        height: 35px;
        min-width: 35px;
    }

    .product-single-icon-items .icon-item .icon-item-icon svg{
        width: 35px;
        height: 35px;
        min-width: 35px;
    }

    .product-single-icon-items .icon-item .icon-item-text {
        font-size: 10px;
        line-height: 12px;
    }
    /* single-product section css end */
}