/* video-slider section css start */
.video-slider-section {
    padding: 86px 0 112px;
}

.video-slider-section .section-heading-wrapper {
    margin-bottom: 30px;
}

.video-slider-section .section-btn {
    margin: 0;
}

.swiper.video-slider {
    padding: 0 20px 60px 20px;
    max-width: 1312px;
    width: 100%;
    margin: 0 auto;
}

.video-item {
    border-radius: 15px;
    box-shadow: 5px 5px 15px 0px #00000033;
    position: relative;
    overflow: hidden;
}

.video-item-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
}

.video-thumb {
    position: relative;
}

.video-thumb .video-paly-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80px;
    height: 80px;
}

.video-item-content {
    padding: 18px 0 17px;
    text-align: center;
}

.video-item-content-title {
    color: var(--paragraph-text-color);
    font-family: var(--paragraph-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
}

/* video-slider section css end */

/* video-slider2 section css start */
.video-slider-section2 {
    padding: 60px 0 75px;
}

.video-slider-section2 .video-slider-area {
    max-width: 1330px;
    padding: 0 55px;
    margin: 0 auto;
}

.swiper.video-slider2 {
    padding: 0 25px 122px 25px;
}

.swiper.video-slider2 .video-item {
    box-shadow: 8px 8px 20px 0px #00000040;
}

.swiper.video-slider2 .swiper-button-next,
.swiper.video-slider2 .swiper-button-prev {
    width: 50px;
    height: 50px;
    display: flex;
    top: 39%;
}

.swiper.video-slider2 .swiper-button-prev {
    left: 0;
}

.swiper.video-slider2 .swiper-button-next {
    right: 0;
}

/* video-slider2 section css end */

@media only screen and (max-width: 992px) {

    /* video-slider2 section css start */
    .video-slider-section2 .video-slider-area {
        padding: 0 0 0 20px;
    }

    .video-slider-section .section-btn {
        margin: 30px 0 0 0;
    }

    .swiper.video-slider2 {
        padding: 0 0 70px 0;
    }

    .swiper.video-slider2 .swiper-button-next,
    .swiper.video-slider2 .swiper-button-prev {
        width: 40px;
        height: 40px;
    }

    /* video-slider2 section css end */
}

@media only screen and (max-width: 767px) {

    /* video-slider section css start */
    .video-slider-section {
        padding: 51px 0 55px;
    }

    .video-slider-section.section-bg {
        background: linear-gradient(180deg, #FFFFFF 94.9%, #00A8FF 100%);
    }

    .video-slider-area {
        padding: 0 0 0 20px;
    }

    .swiper.video-slider {
        padding: 0 0 45px 0;
    }

    .vbox-content .venoratio>* {
        width: 101%;
        height: 101%;
    }

    /* video-slider section css end */

    /* video-slider2 section css start */
    .video-slider-section2 {
        padding: 45px 0 42px;
    }

    .video-slider-section2 .section-heading-wrapper {
        margin-bottom: 30px;
    }

    .swiper.video-slider2 {
        padding: 0 0 60px 0;
    }

    .swiper.video-slider2 .video-thumb .video-paly-btn{
        width: 47px;
        height: 47px;
    }

    .swiper.video-slider2 .video-thumb .video-paly-btn svg{
        width: 47px;
        height: 47px;
    }

    .swiper.video-slider2 .swiper-button-next, .swiper.video-slider2 .swiper-button-prev {
        top: 42%;
    }

    .swiper.video-slider2 .swiper-button-next, .swiper.video-slider2 .swiper-button-prev {
        width: 35px;
        height: 35px;
    }

    .swiper.video-slider2 .swiper-button-next {
        right: 20px;
    }

    /* video-slider2 section css end */
}